<!doctype html>
<html>
<head>
<link rel="stylesheet" href="/static/style.css">

    <style>
        body {
            background-image: none;
        }
    </style>




</head>
<body>
<div style="display: flex; align-items: center;">
        <img src="/static/logo.jpg" class="logo" alt="로고">
</div>
<div style="display: flex; justify-content: space-between; align-items: center;">

    <h1>게시판</h1>
    <div>
        <span>{{ session['username'] }}님</span>
        <button onclick="location.href='/logout/'">로그아웃</button>
        {% if session['role'] == 'admin' %}
        <button onclick="location.href='/admin/'">관리자 페이지</button>
        {% endif %}
        <button onclick="location.href='/create/'">글쓰기</button>
    </div>
</div>
<p>전체 글 {{ count }}개</p>


    <form method="get">
        <input type="text" name="keyword" value="{{ keyword }}" placeholder="제목 검색">
        <input type="submit" value="검색">
    </form>

    {% if searchResult %}
    <p>{{ searchResult }}</p>
    {% endif %}


    <table >
        <tr>
            <th>번호</th><th>제목</th><th>작성자</th><th>날짜</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post[0] }}</td>
            <td><a href="/detail/{{ post[0] }}/">{{ post[1] }}</a></td>
            <td>{{ post[3] }}</td>
            <td>{{ post[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>